# Emacs specific files
#######################

session.*
semanticdb/*
elpa/*
TAGS

# Local initialization file
###########################

init-local.el

# Backup files
##############

*~

# Packages files
################

.cask
roguel-ike-saves
url/
*.before_ecb*
elnode
emms
jabber-avatar-cache
newsticker