# Emacs specific files
#######################

session.*
semanticdb/*
elpa/*
eshell
image-dired
TAGS
projects.el
ede-projects.el
bookmarks
ac-comphist.dat
thumbs
tramp
request

# Local initialization file
###########################

init-local.el
init-general.el

# Compile files
###############

*.pyc
*.elc
init.el
Makefile

# Backup files
##############

*~

# Packages files
################

.cask
roguel-ike-saves
url/
*.before_ecb*
elnode
emms
jabber-avatar-cache
newsticker
.mc-lists.el
.org-id-locations
calc.el
projectile.cache
projectile-bookmarks.eld
.python-environments
.litable-lists.el


# srecode
#########

srecode-map*
cedet.el
custom.el
ergo.el
helm.el
org.el
package.el
project.el
shell.el
theme.el
yasnippet.el