[submodule "site-lisp/gulpjs"]
	path = site-lisp/gulpjs
	url = git@github.com:stevenremot/emacs-gulpjs.git
[submodule "site-lisp/cedet"]
	path = site-lisp/cedet
	url = https://bitbucket.org/stevenremot/cedet
[submodule "site-lisp/ede-php-autoload"]
	path = site-lisp/ede-php-autoload
	url = git@github.com:stevenremot/ede-php-autoload.git
[submodule "site-lisp/edep"]
	path = site-lisp/edep
	url = ssh://git@github.com/jorissteyn/edep
[submodule "site-lisp/Contributions-Emacs-Pp"]
	path = site-lisp/Contributions-Emacs-Pp
	url = git@github.com:stevenremot/Contributions-Emacs-Pp.git
