
*~
elpa/
projectile-bookmarks.eld
recentf
custom-file.el
quelpa/
rocktl/
.cache/
network-security.data
eshell/
elpa-backup.tar.gz
bookmarks
url/
projectile.cache
tramp
session.*
.cask/
geben/
games/
request/
.org-id-locations
tutorial/
.lsp-session-v1
forge-database.sqlite
transient
.mc-lists.el
.dap-breakpoints
.extension/
emojis/
thumbs/
lsp-cache/

# Generated scripts
init.el
